*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background-color: lightgray;
}

.header {
    background: red;
    width: 100%; /* toute la largeur */    
    border: solid black 3px;  
    display: flex;
    flex-wrap: wrap; /* pour avoir les deux parties l'une en dessous de l'autre */ 
    align-items: center;
  }

  .liens-head{
    /* pour enlever l'apparence des hyperliens */
    color: black;
    text-decoration: none;
  }

  .head-top{
    /* première partie du header avec les logos */
    border: solid black 3px;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 9px;
    background: rgb(163, 158, 158);
  }
  
  .img-head{
    /* fixer la taille des images du header-top */
    height: 65px;
    margin: 5px;
  }
  a:nth-child(3){
    /* pour que la 3e soit à droite du header-top */
    margin-left: auto;
  }

  .head-bot{
    /* 2e partie du header, une barre de navigation */
    margin: 9px; margin-top: 0px;
    border: solid black 3px;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    background: rgb(163, 158, 158);
  }

  .list{
    /* liste de barre de nav */
    width: 100%;
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-size: 21px;
  }
  
  .items{
    /* items de la barre de nav */
    cursor: pointer;
    border: solid black 2px;
    /* qui occupent la largeur de la barre de nav : */
    width: 100%;
    margin: 6px;
    text-align: center;
    background: white;
  }

  .items span{
    /* juste réduire la taille du triangle */
    font-size: 16px;
  }

.sous-list{
  /* placer le menu déroulant */
    position:relative;
    display: none;
    top: 0px;
    width: 100%;
}

.items-2{
  /* propriétés des items déroulés */
  list-style-type: none;
  text-align: center;
  padding: 0 10px;
  border: 1px solid black;
  background: rgb(216, 43, 63);
}

.items-2:hover{
  background: rgb(230, 186, 173);
}

.items:hover > ul {
  /*faire apparaître le menu en passant le curseur dessus */
  display: inline-block;
}

label, #toggle{
  display: none;
}

@media all and (max-width: 900px){
  .list{
    display: none;
  }

  label{
    display: flex;
    font-size: 30px;
    cursor: pointer;
  }
 
  #toggle:checked+.list{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:220px;
    position: absolute;
    top: 160px;
    background: rgb(166, 153, 153);
  }

  .items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    flex-wrap: nowrap;
    position: relative;
  }

  .sous-list{
    /* placer le menu déroulant */
      position:relative;
      display: none;
      width: 100%;
  }

  .items:hover > ul {
    /*faire apparaître le menu en passant le curseur dessus */
    display: flex;
    flex-direction: column;
    position: absolute;
    left:100%;
    width:100%;
  }
}