*,
::before,
::after {
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background-color: lightgray;
}

.header {
    background: red;
    width: 100%; /* toute la largeur */    
    border: solid black 3px;  
    display: flex;
    flex-wrap: wrap; /* pour avoir les deux parties l'une en dessous de l'autre */ 
    align-items: center;
  }

  .liens-head{
    /* pour enlever l'apparence des hyperliens */
    color: black;
    text-decoration: none;
  }

  .head-top{
    /* première partie du header avec les logos */
    border: solid black 3px;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 9px;
    background: rgb(181, 184, 180);
  }
  
  .img-head{
    /* fixer la taille des images du header-top */
    height: 75px;
    margin: 5px;
  }
  a:nth-child(3){
    /* pour que la 3e soit à droite du header-top */
    margin-left: auto;
  }

  .head-bot{
    /* 2e partie du header */
    margin: 9px; margin-top: 0px;
    border: solid black 3px;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    background: white;
  }

  .list{
    width: 100%;
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-size: 21px;
  }
  
  .items{
    cursor: pointer;
    border: solid black 2px;
    width: 100%;
    margin: 6px;
    text-align: center;
    background: rgb(163, 158, 158);
  }

  .items span{
    font-size: 16px;
  }

.sous-list{
    position:relative;
    display: none;
    top: +5px;
    width: 100%;
}

.items-2{
  list-style-type: none;
  text-align: center;
  padding: 0 10px;
  background: blue;
  border: 1px solid black;
  background: rgb(163, 158, 158);
}
/* .items:nth-child(3) */

.items-2:hover{
  background: lightblue;
}
.items:hover > ul {
  display: inline-block;
}
